# Assignment is below at the end

- https://scikit-learn.org/stable/modules/tree.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd
import sklearn

In [2]:
df = pd.read_csv('../data/adult.data', index_col=False)

In [3]:
golden = pd.read_csv('../data/adult.test', index_col=False)

In [4]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [7]:
from sklearn import preprocessing

In [8]:
# Columns we want to transform
transform_columns = ['sex']

#Columns we can't use because non-numerical
non_num_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

## First let's try using `pandas.get_dummies()` to transform columns

In [9]:
dummies = pd.get_dummies(df[transform_columns])
dummies

       sex_ Female  sex_ Male
0                0          1
1                0          1
2                0          1
3                0          1
4                1          0
...            ...        ...
32556            1          0
32557            0          1
32558            1          0
32559            0          1
32560            1          0

[32561 rows x 2 columns]

In [10]:
dummies.shape

(32561, 2)

## sklearn has a similar process for OneHot Encoding features

In [11]:
onehot = preprocessing.OneHotEncoder(handle_unknown="infrequent_if_exist", sparse=False)
onehot.fit(df[transform_columns])

/Users/test/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='infrequent_if_exist', sparse=False,
              sparse_output=False)

In [12]:
onehot.categories_

[array([' Female', ' Male'], dtype=object)]

In [13]:
sex = onehot.transform(df[transform_columns])
sex

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [14]:
sex.shape

(32561, 2)

## In addition to OneHot encoding there is Ordinal Encoding

In [15]:
enc = preprocessing.OrdinalEncoder()
enc.fit(df[["salary"]])
salary = enc.transform(df[["salary"]])
salary

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [16]:
enc.categories_[0]

array([' <=50K', ' >50K'], dtype=object)

In [17]:
x = df.copy()

# transformed = pd.get_dummies(df[transform_columns])


onehot = preprocessing.OneHotEncoder(handle_unknown="infrequent_if_exist", sparse=False).fit(df[transform_columns])

enc = preprocessing.OrdinalEncoder()

enc.fit(df[["salary"]])


transformed = onehot.transform(df[transform_columns])
new_cols = list(onehot.categories_[0].flatten())
df_trans = pd.DataFrame(transformed, columns=new_cols)


x = pd.concat(
    [
        x.drop(non_num_columns, axis=1), 
        df_trans
    ], 
    axis=1,)


x["salary"] = enc.transform(df[["salary"]])

/Users/test/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male
0,39,77516,13,2174,0,40,0.0,0.0,1.0
1,50,83311,13,0,0,13,0.0,0.0,1.0
2,38,215646,9,0,0,40,0.0,0.0,1.0
3,53,234721,7,0,0,40,0.0,0.0,1.0
4,28,338409,13,0,0,40,0.0,1.0,0.0

In [19]:
xt = golden.copy()

transformed = onehot.transform(xt[transform_columns])
new_cols = list(onehot.categories_[0].flatten())
df_trans = pd.DataFrame(transformed, columns=new_cols)

xt = pd.concat(
    [
        xt.drop(non_num_columns, axis=1), 
        df_trans
    ], 
    axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [20]:
xt.salary.value_counts()

0.0    12435
1.0     3846
Name: salary, dtype: int64

In [21]:
enc.categories_

[array([' <=50K.', ' >50K.'], dtype=object)]

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

#### Choose the model of your preference: DecisionTree or RandomForest

In [23]:
model = RandomForestClassifier(criterion='entropy')

In [24]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [25]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [26]:
model.tree_.node_count

8323

In [27]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3246301235526168),
 ('education-num', 0.16031246022637352),
 ('capital-gain', 0.22768459768097968),
 ('capital-loss', 0.07879939734918551),
 ('hours-per-week', 0.15314756577839925),
 (' Female', 0.05457574683014615),
 (' Male', 0.0008501085822990509)]

In [28]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3246301235526168),
 ('education-num', 0.16031246022637352),
 ('capital-gain', 0.22768459768097968),
 ('capital-loss', 0.07879939734918551),
 ('hours-per-week', 0.15314756577839925),
 (' Female', 0.05457574683014615),
 (' Male', 0.0008501085822990509)]

In [29]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,Female,Male
0,39,13,2174,0,40,0.0,1.0
1,50,13,0,0,13,0.0,1.0
2,38,9,0,0,40,0.0,1.0
3,53,7,0,0,40,0.0,1.0
4,28,13,0,0,40,1.0,0.0

In [30]:
set(x.columns) - set(xt.columns)

set()

In [31]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 ' Female',
 ' Male']

In [32]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [33]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [83]:
accuracy_score(x.salary, predictions)

ValueError: Found input variables with inconsistent numbers of samples: [32561, 16281]

In [36]:
accuracy_score(xt.salary, predictions)

0.8210797862539156

In [37]:
confusion_matrix(xt.salary, predictions)

array([[11459,   976],
       [ 1937,  1909]])

In [38]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [39]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.86      0.92      0.89     12435
         1.0       0.66      0.50      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [40]:
accuracy_score(x.salary, predictionsx)

0.8955806025613464

In [41]:
confusion_matrix(x.salary, predictionsx)

array([[24097,   623],
       [ 2777,  5064]])

In [42]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [43]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

# For the following use the above `adult` dataset.

# 1. Show the RandomForest outperforms the DecisionTree for a fixed `max_depth` by training using the train set and calculate `precision`, `recall`, `f1`, `confusion matrix` on golden-test set. Start with only numerical features/columns. (age, education-num, capital-gain, capital-loss, hours-per-week)

In [52]:
#Data
x1 = x.copy()
xt1 = xt.copy()

In [53]:
#Define numerical features
num_feat = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [54]:
#Create Decision Tree Models 1 and 2
x1_dt1 = DecisionTreeClassifier(criterion='entropy', max_depth = 7)
x1_dt2 = DecisionTreeClassifier(criterion='entropy', max_depth = 3)

In [55]:
#Create Random Forest Models 1 and 2
x1_rf1 = RandomForestClassifier(criterion='entropy', max_depth = 7)
x1_rf2 = RandomForestClassifier(criterion='entropy', max_depth = 3)

In [56]:
#Fit Random Forest Model 1 on Training Data x1 to predict Salary
x1_rf1.fit(x1.drop(['salary'],axis=1),x1.salary)

RandomForestClassifier(criterion='entropy', max_depth=7)

In [57]:
#Fit Decision Tree Model 1 on Training Data x1 to predict Salary
x1_dt1.fit(x1.drop(['salary'],axis=1),x1.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=7)

In [58]:
#Fit Random Forest Model 2 on Training Data x1 to predict Salary
x1_rf2.fit(x1.drop(['salary'],axis=1),x1.salary)

RandomForestClassifier(criterion='entropy', max_depth=3)

In [59]:
#Fit Decision Tree Model 2 on Training Data x1 to predict Salary
x1_dt2.fit(x1.drop(['salary'],axis=1),x1.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [60]:
#Create a list of tuples with column names from x1 (minus Salary) and corresponding 
#feature importance values for Random Forest Model 1 
list(zip(x1.drop(['salary'], axis=1).columns, x1_rf1.feature_importances_))

[('age', 0.2450813417936444),
 ('fnlwgt', 0.010733328713049113),
 ('education-num', 0.21219465479619376),
 ('capital-gain', 0.2741767103722392),
 ('capital-loss', 0.06593908787163455),
 ('hours-per-week', 0.08475992435696231),
 (' Female', 0.05905772276560064),
 (' Male', 0.04805722933067612)]

In [61]:
#Create a list of tuples with column names from x1 (minus Salary) and corresponding 
#feature importance values for Decision Tree Model 1 
list(zip(x1.drop(['salary'], axis=1).columns, x1_dt1.feature_importances_))

[('age', 0.2829603491199833),
 ('fnlwgt', 0.006085062492757386),
 ('education-num', 0.19704210624159596),
 ('capital-gain', 0.3217591678808323),
 ('capital-loss', 0.056286920324646814),
 ('hours-per-week', 0.042718585499722656),
 (' Female', 0.09256167804785609),
 (' Male', 0.0005861303926053879)]

In [62]:
#Create a list of tuples with column names from x1 (minus Salary) and corresponding 
#feature importance values for Random Forest Model 2 
list(zip(x1.drop(['salary'], axis=1).columns, x1_rf2.feature_importances_))

[('age', 0.21721353930132772),
 ('fnlwgt', 0.0007535794857928688),
 ('education-num', 0.2140533418088539),
 ('capital-gain', 0.3002026247152713),
 ('capital-loss', 0.03988394636620356),
 ('hours-per-week', 0.08914690529914691),
 (' Female', 0.08015552318557428),
 (' Male', 0.05859053983782941)]

In [63]:
#Create a list of tuples with column names from x1 (minus Salary) and corresponding 
#feature importance values for Decision Tree Model 2 
list(zip(x1.drop(['salary'], axis=1).columns, x1_dt2.feature_importances_))

[('age', 0.34233309386332306),
 ('fnlwgt', 0.0),
 ('education-num', 0.22140116182053377),
 ('capital-gain', 0.4362657443161431),
 ('capital-loss', 0.0),
 ('hours-per-week', 0.0),
 (' Female', 0.0),
 (' Male', 0.0)]

In [82]:
#Create array of predicted Salary values for Random Forest Model 1
rf1_pred1 = x1_rf1.predict(xt1.drop(['salary'],axis=1))

In [65]:
#Create array of predicted Salary values for Decision Tree Model 1
dt1_pred1 = x1_dt1.predict(xt1.drop(['salary'],axis=1))

In [66]:
#Create array of predicted Salary values for Random Forest Model 2
rf2_pred2 = x1_rf2.predict(xt1.drop(['salary'],axis=1))

In [67]:
#Create array of predicted Salary values for Decision Tree Model 2
dt2_pred2 = x1_dt2.predict(xt1.drop(['salary'],axis=1))

In [68]:
#Calculate accuracy score between the predicted and actual salary values for Random Forest Model 1
accuracy_score(xt1.salary, rf1_pred1)

0.8390762238191757

In [69]:
#Calculate accuracy score between the predicted and actual salary values for Decision Tree Model 1
accuracy_score(xt1.salary, dt1_pred1)

0.8309686137215159

In [70]:
#Calculate accuracy score between the predicted and actual salary values for Random Forest Model 2
accuracy_score(xt1.salary, rf2_pred2)

0.8097782691480867

In [71]:
#Calculate accuracy score between the predicted and actual salary values for Decision Tree Model 2
accuracy_score(xt1.salary, dt2_pred2)

0.8031447699772741

In [72]:
#Create Confusion Matrix for Random Forest Model 1
confusion_matrix(xt1.salary, rf1_pred1)

array([[11976,   459],
       [ 2161,  1685]])

In [73]:
#Create Confusion Matrix for Decision Tree Model 1
confusion_matrix(xt1.salary, dt1_pred1)

array([[11767,   668],
       [ 2084,  1762]])

In [74]:
#Create Confusion Matrix for Random Forest Model 2
confusion_matrix(xt1.salary, rf2_pred2)

array([[12417,    18],
       [ 3079,   767]])

In [75]:
#Create Confusion Matrix for Decision Tree Model 2
confusion_matrix(xt1.salary, dt2_pred2)

array([[12428,     7],
       [ 3198,   648]])

In [76]:
#Generate Classification Rport with precision, recall, and f1-score for Random Forest Model 1
print(classification_report(xt1.salary, rf1_pred1))

              precision    recall  f1-score   support

         0.0       0.85      0.96      0.90     12435
         1.0       0.79      0.44      0.56      3846

    accuracy                           0.84     16281
   macro avg       0.82      0.70      0.73     16281
weighted avg       0.83      0.84      0.82     16281

In [77]:
#Generate Classification Rport with precision, recall, and f1-score for Decision Tree Model 1
print(classification_report(xt1.salary, dt1_pred1))

              precision    recall  f1-score   support

         0.0       0.85      0.95      0.90     12435
         1.0       0.73      0.46      0.56      3846

    accuracy                           0.83     16281
   macro avg       0.79      0.70      0.73     16281
weighted avg       0.82      0.83      0.82     16281

In [78]:
#Generate Classification Rport with precision, recall, and f1-score for Random Forest Model 2
print(classification_report(xt1.salary, rf2_pred2))

              precision    recall  f1-score   support

         0.0       0.80      1.00      0.89     12435
         1.0       0.98      0.20      0.33      3846

    accuracy                           0.81     16281
   macro avg       0.89      0.60      0.61     16281
weighted avg       0.84      0.81      0.76     16281

In [79]:
#Generate Classification Rport with precision, recall, and f1-score for Decision Tree Model 2
print(classification_report(xt1.salary, dt2_pred2))

              precision    recall  f1-score   support

         0.0       0.80      1.00      0.89     12435
         1.0       0.99      0.17      0.29      3846

    accuracy                           0.80     16281
   macro avg       0.89      0.58      0.59     16281
weighted avg       0.84      0.80      0.74     16281

#As shown above, the Random Forest Models are superior to their corresponding Decision Tree Models for Accuracy, Precision, Recall, and F1.

# 2. Use a RandomForest or DecisionTree and the `adult` dataset, systematically add new columns, one by one, that are non-numerical but converted using the feature-extraction techniques we learned. Using the golden-test set show [`precision`, `recall`, `f1`, `confusion matrix`] for each additional feature added.

In [84]:
#Create x2 from x1, encode Marital Status as integers
x2 = x1.copy()
x2['marital-status'] = enc.fit_transform(df[['marital-status']])
x2.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status
0,39,77516,13,2174,0,40,0.0,0.0,1.0,4.0
1,50,83311,13,0,0,13,0.0,0.0,1.0,2.0
2,38,215646,9,0,0,40,0.0,0.0,1.0,0.0
3,53,234721,7,0,0,40,0.0,0.0,1.0,2.0
4,28,338409,13,0,0,40,0.0,1.0,0.0,2.0

In [85]:
#Create xt2 from xt1, encode Marital Status as integers
xt2 = xt1.copy()
xt2['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt2.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status
0,25,226802,7,0,0,40,0.0,0.0,1.0,4.0
1,38,89814,9,0,0,50,0.0,0.0,1.0,2.0
2,28,336951,12,0,0,40,1.0,0.0,1.0,2.0
3,44,160323,10,7688,0,40,1.0,0.0,1.0,2.0
4,18,103497,10,0,0,30,0.0,1.0,0.0,4.0

In [87]:
#Create Random Forest Model 3 and Decision Tree Model 3
rf3 = RandomForestClassifier(criterion='entropy', max_depth = 3)
dt3 = DecisionTreeClassifier(criterion='entropy', max_depth = 3)

In [88]:
#Fit Random Forest Model 3 on x2 to predict Salary
x2_rf = rf3.fit(x2.drop(['salary'], axis=1), x2.salary)

In [89]:
#Create array of predicted Salary values for Random Forest Model 3
x2_rf_pred = x2_rf.predict(xt2.drop(['salary'], axis=1))

In [90]:
#Generate Classification Rport with precision, recall, and f1-score for Random Forest Model 3
print(classification_report(xt2.salary, x2_rf_pred))

              precision    recall  f1-score   support

         0.0       0.83      0.98      0.90     12435
         1.0       0.87      0.34      0.49      3846

    accuracy                           0.83     16281
   macro avg       0.85      0.66      0.70     16281
weighted avg       0.84      0.83      0.80     16281

In [91]:
#Create x3 from x2, encode Native Country as integers
x3 = x2.copy()
x3['native-country'] = enc.fit_transform(df[['native-country']])
x3.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country
0,39,77516,13,2174,0,40,0.0,0.0,1.0,4.0,39.0
1,50,83311,13,0,0,13,0.0,0.0,1.0,2.0,39.0
2,38,215646,9,0,0,40,0.0,0.0,1.0,0.0,39.0
3,53,234721,7,0,0,40,0.0,0.0,1.0,2.0,39.0
4,28,338409,13,0,0,40,0.0,1.0,0.0,2.0,5.0

In [92]:
#Create xt3 from xt2, encode Native Country as integers
xt3 = xt2.copy()
xt3['native-country'] = enc.fit_transform(golden[['native-country']])
xt3.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country
0,25,226802,7,0,0,40,0.0,0.0,1.0,4.0,38.0
1,38,89814,9,0,0,50,0.0,0.0,1.0,2.0,38.0
2,28,336951,12,0,0,40,1.0,0.0,1.0,2.0,38.0
3,44,160323,10,7688,0,40,1.0,0.0,1.0,2.0,38.0
4,18,103497,10,0,0,30,0.0,1.0,0.0,4.0,38.0

In [93]:
# Fit Random Forest Model 3 on x3 to Predict Salary, Store Predictions in array, Generate Classification Report
x3_rf = rf3.fit(x3.drop(['salary'], axis=1), x3.salary)
x3_rf_pred = x3_rf.predict(xt3.drop(['salary'], axis=1))
print(classification_report(xt3.salary, x3_rf_pred))

              precision    recall  f1-score   support

         0.0       0.81      0.99      0.90     12435
         1.0       0.94      0.27      0.42      3846

    accuracy                           0.82     16281
   macro avg       0.88      0.63      0.66     16281
weighted avg       0.84      0.82      0.78     16281

In [94]:
#Create x4 from x3, encode Occupation as integers
x4 = x3.copy()
x4['occupation'] = enc.fit_transform(df[['occupation']])
x4.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country,occupation
0,39,77516,13,2174,0,40,0.0,0.0,1.0,4.0,39.0,1.0
1,50,83311,13,0,0,13,0.0,0.0,1.0,2.0,39.0,4.0
2,38,215646,9,0,0,40,0.0,0.0,1.0,0.0,39.0,6.0
3,53,234721,7,0,0,40,0.0,0.0,1.0,2.0,39.0,6.0
4,28,338409,13,0,0,40,0.0,1.0,0.0,2.0,5.0,10.0

In [95]:
#Create xt4 from xt3, encode Occupation as integers
xt4 = xt3.copy()
xt4['occupation'] = enc.fit_transform(golden[['occupation']])
xt4.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country,occupation
0,25,226802,7,0,0,40,0.0,0.0,1.0,4.0,38.0,7.0
1,38,89814,9,0,0,50,0.0,0.0,1.0,2.0,38.0,5.0
2,28,336951,12,0,0,40,1.0,0.0,1.0,2.0,38.0,11.0
3,44,160323,10,7688,0,40,1.0,0.0,1.0,2.0,38.0,7.0
4,18,103497,10,0,0,30,0.0,1.0,0.0,4.0,38.0,0.0

In [96]:
# Fit Random Forest Model 3 on x4 to Predict Salary, Store Predictions in array, Generate Classification Report
x4_rf = rf3.fit(x4.drop(['salary'], axis=1), x4.salary)
x4_rf_pred = x4_rf.predict(xt4.drop(['salary'], axis=1))
print(classification_report(xt4.salary, x4_rf_pred))

              precision    recall  f1-score   support

         0.0       0.82      0.99      0.90     12435
         1.0       0.89      0.29      0.44      3846

    accuracy                           0.82     16281
   macro avg       0.85      0.64      0.67     16281
weighted avg       0.84      0.82      0.79     16281

In [97]:
#Create x5 from x4, encode Workclass as integers
x5 = x4.copy()
x5['workclass'] = enc.fit_transform(df[['workclass']])
x5.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country,occupation,workclass
0,39,77516,13,2174,0,40,0.0,0.0,1.0,4.0,39.0,1.0,7.0
1,50,83311,13,0,0,13,0.0,0.0,1.0,2.0,39.0,4.0,6.0
2,38,215646,9,0,0,40,0.0,0.0,1.0,0.0,39.0,6.0,4.0
3,53,234721,7,0,0,40,0.0,0.0,1.0,2.0,39.0,6.0,4.0
4,28,338409,13,0,0,40,0.0,1.0,0.0,2.0,5.0,10.0,4.0

In [98]:
#Create xt5 from xt4, encode Workclass as integers
xt5 = xt4.copy()
xt5['workclass'] = enc.fit_transform(golden[['workclass']])
xt5.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,Female,Male,marital-status,native-country,occupation,workclass
0,25,226802,7,0,0,40,0.0,0.0,1.0,4.0,38.0,7.0,4.0
1,38,89814,9,0,0,50,0.0,0.0,1.0,2.0,38.0,5.0,4.0
2,28,336951,12,0,0,40,1.0,0.0,1.0,2.0,38.0,11.0,2.0
3,44,160323,10,7688,0,40,1.0,0.0,1.0,2.0,38.0,7.0,4.0
4,18,103497,10,0,0,30,0.0,1.0,0.0,4.0,38.0,0.0,0.0

In [99]:
# Fit Random Forest Model 3 on x5 to Predict Salary, Store Predictions in array, Generate Classification Report
x5_rf = rf3.fit(x5.drop(['salary'], axis=1), x5.salary)
x5_rf_pred = x5_rf.predict(xt5.drop(['salary'], axis=1))
print(classification_report(xt5.salary, x5_rf_pred))

              precision    recall  f1-score   support

         0.0       0.80      1.00      0.89     12435
         1.0       0.98      0.20      0.34      3846

    accuracy                           0.81     16281
   macro avg       0.89      0.60      0.61     16281
weighted avg       0.85      0.81      0.76     16281

#Converting columns to integers one by one actually reduced accuracy from 83 to 82 to 81 for Random Forest Model 3.